.footer-main-cta {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 0;
}

.pill-dark {
    background: rgba(255, 255, 255, 0.1);
    padding: 8px 18px;
    border-radius: 50px;
    font-size: 13px;
    color: rgb(91, 183, 214);
    border: 1px solid rgba(255, 255, 255, 0.05);
    display: inline-block;
    margin-bottom: 25px;
}

.footer-main-cta h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 15px;
}

.text-gradient-red-blue {
    background: linear-gradient(to roght, rgb(221, 75, 75), rgb(100, 100, 227));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-main-cta p {
    color: rgb(202, 226, 227);
    font-size: 18px;
    margin-bottom: 40px;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-free-trial {
    padding: 16px 36px;
    background-color: rgb(117, 187, 231);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.27), box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(59, 130, 246, 0.4);
}

.btn-free-trial:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 25px rgba(59, 130, 246, 0.7);
}


.btn-contact-sales {
    padding: 16px 36px;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-contact-sales:hover {
    border-color: #3B82F6;
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.5);
    color: #3B82F6;
}


.footer-divider {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 60px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    text-align: left;
}

.footer-col h4 {
    font-size: 14px;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 12px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #9CA3AF;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-col ul li a:hover {
    color: white;
}

.brand-col {
    max-width: 300px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-logo img {
    height: 25px;
}

.brand-col p {
    font-size: 13px;
    color: #6B7280;
    line-height: 1.5;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding-top: 30px;
}

.footer-bottom p {
    font-size: 12px;
    color: rgb(98, 103, 123);
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-link {
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    color: #9CA3AF;
}

.icon-linkedin:hover {
    background: rgb(76, 104, 115);
    color: white;
}

.icon-twitter:hover {
    background: rgb(24, 136, 196);
    color: white;
}

.icon-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: white;
}

.icon-github:hover {
    background: rgb(171, 36, 229);
    color: white;
}

.social-link:active {
    transform: scale(1.4);
}

@media (max-width: 900px) {

    .testi-grid,
    .footer-links,
    .footer-bottom,
    .footer-buttons {
        flex-direction: column;
    }

    .footer-links {
        gap: 40px;
    }

    .footer-bottom {
        gap: 20px;
    }

    .btn-free-trial,
    .btn-contact-sales {
        width: 100%;
    }
}