/* General  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #05050A;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding: 20px 40px;
    background-color: #05050A;
    width: 100%;
    border-bottom: 1px solid rgba(245, 241, 241, 0.05);
}


.nav-logos {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Force images to be a reasonable size like a logo */
.nav-logos img {
    height: 30px;
    width: auto;
    object-fit: contain;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(199, 192, 192);
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: white;
}

/* 3. Buttons Section */
.nav-buttons {
    display: flex;
    gap: 15px;
}

button {
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 24px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.btn-contact {
    background-color: rgba(255, 255, 255, 0.075);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.btn-contact:hover {
    border-color: white;
}


.btn-talk {
    background: linear-gradient(to right, rgb(244, 240, 240), blue);
    color: rgb(17, 17, 17);
    border: none;
    box-shadow: 0 4px 14px rgb(19, 78, 204);
    transform: scale(1);
}

.btn-talk:hover {
    background-color: rgb(51, 51, 230);
    transition: all 0.3s ease;
    transform: scale(1.05);

}